/* Global Reset */
* {
    font-size: 100%;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

body {
    background: url('/images/bg.png') fixed;
    text-align: center;
}
p {
    margin: 1em auto 1em auto;
}
/* header styles */
h1 {
    font-size: 150%;
    color: #555;
    border-bottom: 2px solid #40C1D8;
    margin: 1em auto .5em auto;
}
h2 {
    border-bottom: 1px solid #40C1D8;
    margin: 1em auto .5em auto;
}
/* link styles */
a:link {
    color: #003366;
    text-decoration: none;
}
a:visited {
    color: #ff3399;
}
a:hover {
    color: #444;
    text-decoration: underline;
}
/* common classes */
div.uline {
    text-decoration: underline;
}
div.strike {
    text-decoration: line-through;
}
table {
    font-size: inherit;
}

/* special global cases */
div.piece {
    margin-bottom: 2em;
}
a.anchor {
    color: #999 !important;
    border: none !important;
    text-decoration: none !important;
    font: 75% "Courier New", monospace;
    margin-left: .75em;
    position: relative;
    top: -2px;
    opacity: 0;
}
h2:hover a.anchor {
    color: #999 !important;
    opacity: 1;
}

::selection {
    background: #dc005d;
    color:#fff;
    text-shadow: none;
}

/*********************************/
/* Page Header
/*********************************/
div.ascii {
    font: 2em "Courier New", monospace;
    white-space: nowrap;
    margin: auto auto 1.5em auto;
    padding: .25em 0 0 1.5em;
}
div.ascii a {
    text-decoration: none;
    color: #BBBBDD;
}

/*********************************/
/* Left Nav
/*********************************/
div.leftnav {
    font: 2em "Courier New", mono;
    position: fixed;
    width: 1.5em;
}
div.leftnav ul {
    list-style: none;
    margin-top: .5em;
}
div.leftnav li {
    width: 1em;
    height: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .1em;
    line-height: 90%;
    vertical-align: text-top;
    text-align: center;
}
div.leftnav li a {
    text-decoration: none;
    color: #BBBBDD;
    display: block;
    width: 100%;
    height: 100%;
}
div.leftnav li a img {
    width: 100%;
    height: 100%;
    border: none;
}
div.leftnav li a#gotop {
    font-size: .5em;
    color: #999;
}

/*********************************/
/* Content
/*********************************/
div.content {
    text-align: justify;
    width: 40em;
    margin: auto auto 2em auto;
    padding-left: 3em;
}
div.content p.meta {
    color: #666;
    text-align: right;
    font-style: italic;
    border-bottom: 1px solid #999;
}
div.content blockquote {
    color: #666;
    text-align: justify;
    font-style: italic;
    font-size: 95%;
    border-left: 3px solid #ccc;
    padding-left: 1em;
    margin-left: 1em;
}
div.content a.category {
    color: #444;
    text-decoration: none;
}
div.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
div.content ul.posts {
    list-style-type: none;
}
div.content ul.posts li {
    line-height: 1.50em;
}
div.content ul.posts span {
    color: #999;
    font: 80% "Courier New", monospace;
}

ul.nolist {
    list-style-type: none;
}

/*********************************/
/* Posts
/*********************************/
div#post ul, #post ol {
    margin-left: 1.35em;
}

/* links */
div#post a {
    color: #003366;
    text-decoration: none;
}
div#post a:link {
    border-bottom: #444 1px dotted;
}
div#post a:visited {
    border-bottom: #ff3399 1px dotted;
}
div#post a:hover {
    border-bottom: #ff3399 2px solid;
}

div#post pre {
    background-color: #ddd;
    font-family: Monaco, "Envy Code R", "Courier New", monospace;
    font-size: 110%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    overflow: auto;
    word-wrap: normal;
}
div#post pre code {
    display: block;
    background-color: #444;
    color: #dcdcdc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    overflow-x: auto;
}

/*********************************/
/* About page
/*********************************/
div.icons ul {
    margin-top: 1em;
    list-style-type: none;
    text-align: left;
}
div.icons ul li {
    display: inline;
}
div.icons ul li a img {
    display: inline;
    width: 2em;
    height: 2em;
    border: none;
    padding: 0 1em 0 1em;
}

/*********************************/
/* Page Footer
/*********************************/
footer {
    text-align: center;
    padding: 0 0 1em 3em;
    margin-bottom: 2em;
}
footer div.categories {
    font-size: 80%;
}
footer a:link, footer a:visited {
    color: #003366;
    font-weight: bold;
    text-decoration: none;
}
footer div.categories a:link {
    font-weight: normal;
}
footer a:hover {
    color: #444;
}
