/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    background: url('/images/stripesbg.png') fixed;
    text-align: center;
}

/* header styles */
h2, h3, h4, h5, h6 {
    font-size: 100%;
}
h1 {
    font-size: 150%;
    color: #555;
    border-bottom: 2px solid #40C1D8;
}
h2 {
    border-bottom: 1px solid #40C1D8;
    margin-bottom: 0.5em;
}
p {
    margin: 1em 0;
}

/* link styles */
a:link {
    color: #003366;
    text-decoration: none;
}
a:visited {
    color: #ff3399;
}
a:hover {
    color: #444;
    text-decoration: underline;
}

table {
    font-size: inherit;
}

/*****************************************************************************/
/*
/* header - ascii fish
/*
/*****************************************************************************/

div.ascii {
    display: block;
    font-family: 'Bitstream Vera Sans Mono', "Courier New", monospace;
    font-size: 2em;
    white-space: nowrap;
    padding-top: 0.25em;
    padding-left: 0.25em;
}
div.ascii a {
    text-decoration: none;
    color: #BBBBDD;
}

/*****************************************************************************/
/*
/* left sidebar - leftnav
/*
/*****************************************************************************/

div.leftnav {
    font-family: 'Bitstream Vera Sans Mono', "Courier New", mono;
    font-size: 2em;
    position: fixed;
    width: 1.5em;
}
div.leftnav ul {
    list-style: none;
    margin-top: 2em;
}
div.leftnav li {
    width: 1em;
    height: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.1em;
    line-height: 90%;
    vertical-align: text-top;
    text-align: center;
}
div.leftnav li a {
    text-decoration: none;
    color: #BBBBDD;
    display: block;
    width: 100%;
    height: 100%;
}
div.leftnav li a img {
    width: 100%;
    height: 100%;
    border: none;
}
div.leftnav li a#gotop {
    font-size: 0.5em;
    color: #999;
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

div.icons ul {
    margin-top: 1em;
    list-style-type: none;
}
div.icons ul li {
    display: inline;
}
div.icons ul li a img {
    width: 2em;
    height: 2em;
    border: none;
    padding: 0 1em 0 1em;
}

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/

div.content {
    text-align: justify;
    width: 40em;
    margin: 3em auto 2em auto;
    padding-left: 3em;
}
div.content p.meta {
    color: #666;
    text-align: right;
    font-style: italic;
    border-bottom: 1px solid #999;
}
div.content blockquote {
    color: #666;
    text-align: justify;
    font-style: italic;
    font-size: 95%;
    border-left: 3px solid #ccc;
    padding-left: 1em;
    margin-left: 1em;
}
div.content h1#archive {
    margin-bottom: 1em;
}
div.content ul.posts {
    list-style-type: none;
}
div.content ul.posts li {
    line-height: 1.50em;
}
div.content ul.posts span {
    color: #999;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%
}
div.content img.error {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.content a.category {
    color: #444;
    text-decoration: none;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

div#post a:link {
    color: #003366;
    border-bottom: #444 1px dotted;
    text-decoration: none;
}
div#post a:visited {
    color: #003366;
    border-color: #ff3399;
}
div#post a:hover {
    color: #003366;
    border-bottom: #ff3399 2px solid;
}
div#post ul, #post ol {
    margin-left: 1.35em;
}
div#post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}
div#post img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* code */
div#post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 0.2em;
}
div#post pre code {
    border: none;
}

/* terminal */
div#post pre.terminal {
    border: 1px solid #222;
    background-color: #444;
    color: white;
}
div#post pre.terminal code {
    background-color: #444;
}

/*****************************************************************************/
/*
/* Comments
/*
/*****************************************************************************/

div#comments h2 {
    margin-bottom: 1em;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

div.footer {
    text-align: center;
    padding-bottom: 1em;
}
div.footer div.categories {
    font-size: 80%;
}
div.footer a:link, div.footer a:visited {
    color: #003366;
    font-weight: bold;
    text-decoration: none;
}
div.footer div.categories a:link {
    font-weight: normal;
}
div.footer a:hover {
    color: #444;
}
