---
cats:
    - id: foo
      url: /foo/
    - id: music
      url: /music/
    - id: society
      url: /society/
    - id: code
      url: /code/
    - id: philosophy
      url: /philosophy/
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="Ivan c00kiemon5ter Kanakarakis" />
        <meta name="description" content="c00kiemon5ter's notes for world cookie domination" />
        <meta name="keywords" content="cookiemonster, c00kiemon5ter, cookies, c00kiez, Ivan, blog, coding, programming" />
        <meta name="language" content="en, el" />
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom feed" />
        <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
        <script type="text/javascript" src="/scripts/jquery.js"></script>
        <script type="text/javascript" src="/scripts/anchors.js"></script>
        <script type="text/javascript" src="https://use.typekit.com/vse2yql.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body id="top">
        <div class="ascii">
            ¸.·´¯`·.´¯`·.¸¸.·´¯`·.¸<a href="/">}&lt;(((°&gt;</a>
        </div>

        <div class="leftnav">
            <ul>
                <li><a href="/about.html" title="info">i</a></li>
                <li><a href="https://github.com/c00kiemon5ter" title="github"><img src="/images/networks/octocat.png" alt="github"/></a></li>
                <li><a href="http://feeds.feedburner.com/c00kiez/" title="feed"><img src="/images/rss.png" alt="feed"/></a></li>
                <li><a id="gotop" href="#top">top↑</a></li>
            </ul>
        </div>

        <div class="content">
            {{ content }}
        </div>

        <footer>
            <a href="/">archive</a><br />
            <div class="categories">
                <a href="/categories.html">@</a> {
                .{% for cat in page.cats %}
                {% if page.categories != nil and page.categories contains cat.id %}&gt;
                {% elsif page.category != nil and page.category contains cat.id %}&gt;
                {% endif %}
                <a href="{{ cat.url }}">{{ cat.id }}</a>
                .{% endfor %} }
            </div>
        </footer>

    </body>
</html>
